---
import './ExperienciaLaboral.css';
---
<section class="experiencialaboral-container" id="experiencia-laboral">
    <div class="container-titulo">
        <i class="bi bi-briefcase"></i>
        <h2>Experiencia Laboral</h2>
    </div>
    <ul>
        <li>
            <h3>Full-stack Developer - WETRON S.A</h3>
            <p>Fecha: Junio 2025 - Presente</p>
            <p>Desarrollo de aplicaciones web utilizando tecnologías modernas.</p>
        </li>
        <li>
            <h3>Tecnico IT - INS Santa Eulalia</h3>
            <p>Fecha: Junio 2019 - Diciembre 2019</p>
            <p>Tecnico en soporte y mantenimiento de sistemas informáticos.</p>
        </li>
        <li>
            <h3>Repartidor - Terrassa Fruits</h3>
            <p>Fecha: Febrero 2023 - Julio 2024</p>
            <p>Repartidor de frutas y verduras a domicilio.</p>
        </li>
        <li>
            <h3>Repartidor - Enterprise</h3>
            <p>Fecha: Junio 2022 - Septiembre 2022</p>
            <p>Repartidor de vehículos de alquiler.</p>
        </li>
    </ul>
</section>