---
import './ExperienciaLaboral.css';
---
<section class="experiencialaboral-container" id="experiencia-laboral">
    <div class="container-titulo">
        <i class="bi bi-briefcase"></i>
        <h2 data-i18n="titulo_experiencia">Experiencia Laboral</h2>
    </div>
    <ul>
        <li>
            <h3 data-i18n="puesto_laboral1">Full-stack Developer - WETRON S.A</h3>
            <p data-i18n="fecha_laboral1">Fecha: Junio 2025 - Presente</p>
            <p data-i18n="descripcion_laboral1">Desarrollo de aplicaciones web utilizando tecnologías modernas.</p>
        </li>
        <li>
            <h3 data-i18n="puesto_laboral2">Tecnico IT - INS Santa Eulalia</h3>
            <p data-i18n="fecha_laboral2">Fecha: Junio 2019 - Diciembre 2019</p>
            <p data-i18n="descripcion_laboral2">Tecnico en soporte y mantenimiento de sistemas informáticos.</p>
        </li>
        <li>
            <h3 data-i18n="puesto_laboral3">Repartidor - Terrassa Fruits</h3>
            <p data-i18n="fecha_laboral3">Fecha: Febrero 2023 - Julio 2024</p>
            <p data-i18n="descripcion_laboral3">Repartidor de frutas y verduras a domicilio.</p>
        </li>
        <li>
            <h3 data-i18n="puesto_laboral4">Repartidor - Enterprise</h3>
            <p data-i18n="fecha_laboral4">Fecha: Junio 2022 - Septiembre 2022</p>
            <p data-i18n="descripcion_laboral4">Repartidor de vehículos de alquiler.</p>
        </li>
    </ul>
</section>