---
import Header from '../components//Header/Header.astro';
import CartaPresentacion from '../components/CartaPresentacion/CartaPresentacion.astro';
import Educacion from '../components/Educacion/Educacion.astro';
import ExperienciaLaboral from '../components/ExperienciaLaboral/ExperienciaLaboral.astro';
import Skills from '../components/Skills/Skills.astro';
import '../styles.css';
import 'bootstrap-icons/font/bootstrap-icons.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - Dídac López</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

	</head>
	<body>
		<Header />
		<main>
			<CartaPresentacion id="carta-presentacion" />
			<div class="container-experience_skills">
				<ExperienciaLaboral id="experiencia-laboral" />
				<Skills id="skills" />
			</div>
			<div class="container-educacion">
				<Educacion id="educacion" />
			</div>
		</main>
	</body>
</html>
