---
import Header from '../components//Header/Header.astro';
import CartaPresentacion from '../components/CartaPresentacion/CartaPresentacion.astro';
import Educacion from '../components/Educacion/Educacion.astro';
import ExperienciaLaboral from '../components/ExperienciaLaboral/ExperienciaLaboral.astro';
import Skills from '../components/Skills/Skills.astro';
import '../styles.css';
import 'bootstrap-icons/font/bootstrap-icons.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>Porfolio - Dídac López</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	</head>
	<body>
		<Header />
		<main>
			<CartaPresentacion/>
			<div class="container-experience_skills">
				<ExperienciaLaboral/>
				<Skills/>
			</div>
			<div class="container-educacion">
				<Educacion/>
			</div>
		</main>
		
		<script>
			import { I18n } from '../ts/i18n';
			
			document.addEventListener('DOMContentLoaded', () => {
				const i18n = new I18n();
				
				// Intentar cargar idioma guardado o usar español por defecto
				const savedLanguage = localStorage.getItem('selectedLanguage') || 'Spanish';
				i18n.updatePage(savedLanguage);
			});
		</script>
	</body>
</html>
