---
import './Header.css';
import fotoPerfil from '/src/assets/imgs/Foto_perfil.jpg';
---
<header>
    <div class="container-logo">
        <img src={fotoPerfil.src} alt="Logo" class="logo" />
        <h2 class="title">Didac Lopez</h2>
    </div>
    <nav>
        <ul class="nav-links">
            <li><i class="fa-regular fa-address-card"></i><a href="#carta-presentacion" data-i18n="link_carta">Carta de Presentaci칩n</a></li>
            <li><i class="fa-solid fa-code-fork"></i><a href="#experiencia-laboral" data-i18n="link_experiencia">Experiencia & Tecnologias</a></li>
            <li><i class="fa-solid fa-graduation-cap"></i><a href="#educacion" data-i18n="link_educacion">Educaci칩n</a></li>
            <li><i class="fa-solid fa-envelope"></i><a href="mailto:didaclopezz10@gmail.com" data-i18n="link_contacto">Contacto</a></li>
        </ul>
        <div class="language-container">
            <i class="bi bi-translate"></i>
            <div class="language-selector">
                <div class="language">Spanish</div>
                <div class="language">English</div>   
                <div class="language">Catalan</div>
            </div>
        </div>
    </nav>
</header>

<script>
import { I18n } from "../../ts/i18n";

    const languageIcon = document.querySelector('.bi-translate');
    const languageSelector = document.querySelector('.language-selector');
    const languages = document.querySelectorAll(".language")
    const i18 = new I18n();
    languageIcon?.addEventListener('click', () => {
        languageSelector?.classList.toggle('show');
    });
    document.addEventListener('click', (e) => {
    if (languageSelector?.classList.contains('show') && !languageSelector.contains(e.target as any) &&
        e.target !== languageIcon) {
        languageSelector.classList.remove('show');
    }

});
// Establecer idioma por defecto al cargar la p치gina
document.addEventListener('DOMContentLoaded', () => {
    i18.updatePage('Spanish'); // Idioma por defecto
});

languages.forEach(element =>{
    element.addEventListener("click", (e)=>{
        const lang:any = e.target;
        console.log('Idioma seleccionado:', lang.textContent);
        
        // Actualizar la p치gina con el nuevo idioma
        i18.updatePage(lang.textContent);
        languageSelector?.classList.remove('show');
        
        // Guardar el idioma seleccionado en localStorage (opcional)
        localStorage.setItem('selectedLanguage', lang.textContent);
    })
})
</script>