header{
    width: 90%;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(15px);
    padding: 6px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        ul.nav-links{
            list-style: none;
            display: flex;
            gap: 20px;
            margin-right: 20px;
            li{
                a{
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                    transition: color 0.3s;
                }
                i{
                    margin-right: 8px;
                }
                &:hover{
                    color: rgb(136, 124, 228);
                }
            }
        }
    }
}


div.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}