---
import './Header.css';
import fotoPerfil from '/src/assets/imgs/Foto_perfil.jpg';
---
<header>
    <div class="container-logo">
        <img src={fotoPerfil.src} alt="Logo" class="logo" />
        <h2 class="title">Didac Lopez</h2>
    </div>
    <nav>
        <ul class="nav-links">
            <li><i class="fa-regular fa-address-card"></i><a href="#carta-presentacion">Carta de Presentación</a></li>
            <li><i class="fa-solid fa-code-fork"></i><a href="#experiencia-laboral">Experiencia & Tecnologias</a></li>
            <li><i class="fa-solid fa-graduation-cap"></i><a href="#educacion">Educación</a></li>
            <!-- <li><i class="fa-solid fa-envelope"></i><a href="#contacto">Contacto</a></li> -->
        </ul>
    </nav>
</header>