header{
    width: 90%;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(40px);
    padding: 6px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: transparent;
    nav{
        display: flex;
        align-items: center;
        ul.nav-links{
            list-style: none;
            display: flex;
            gap: 20px;
            margin-right: 20px;
            li{
                padding: 2px 8px;
                a{
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                    transition: color 0.3s;
                }
                i{
                    margin-right: 8px;
                }
                &:hover{
                    color: rgb(210, 203, 255);
                    background-color: rgba(74, 68, 119, 0.63);
                    backdrop-filter: blur(15px);
                    opacity: 0.9;
                    border-radius: 8px;
                }
            }
        }
    }
}


div.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center bottom;
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(136, 124, 228);
    }
}

.language-selector {
    position: absolute;
    background-color: blueviolet;
    z-index: 101;
    border-radius: 12px;
    gap: 10px;
    padding: 6px;
    div {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 8px;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
            background-color: rgba(74, 68, 119, 0.63);
            color: rgb(210, 203, 255);
        }
    }
}


.language-selector {
    display: none;
}

.language-selector.show {
    display: block;
}
/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        position: static;
    }
    
    nav ul.nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px !important;
        margin-right: 0 !important;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    
    div.container-logo {
        padding: 5px;
        h1 {
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    nav ul.nav-links {
        gap: 8px !important;
        font-size: 14px;
        li a {
            font-size: 14px;
        }
    }
    
    div.container-logo {
        img {
            width: 40px;
            height: 40px;
        }
        h1 {
            font-size: 16px;
        }
    }
}