---
import './Header.css';
---
<header>
    <div class="container-logo">
        <img src="https://picsum.photos/id/237/200/300" alt="Logo" class="logo" />
        <h2 class="title">my portfolio</h2>
    </div>
    <nav>
        <ul class="nav-links">
            <li><i class="fa-regular fa-address-card"></i><a href="#carta-presentacion">Carta de Presentación</a></li>
            <li><i class="fa-solid fa-bars-progress"></i><a href="#experiencia-laboral">Experiencia Laboral</a></li>
            <li><i class="fa-regular fa-folder"></i><a href="#proyectos">Proyectos</a></li>
            <li><i class="fa-solid fa-graduation-cap"></i><a href="#educacion">Educación</a></li>
        </ul>
    </nav>
</header>