.container-carta{
    padding: 2em;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 12px;
    border-bottom: 4px solid rgba(74, 68, 119, 0.705);
    border-top: 4px solid rgba(74, 68, 119, 0.705);
}

div.foto-presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    & img{
        border-radius: 50%;
        width: 220px;
        height: 220px;
    }
    & .ubicacion{
        display: flex;
        margin-top: 15px;
        text-align: center;
    }
    & .icons-div{
        display: flex;
        gap: 15px;
        margin-top: 15px;
        & i{
            color: white;
            font-size: 20px;
            transition: color 0.3s;
            &:hover{
                color: gray;
            }
        }
    }
}
div.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    flex: 1;
    & h1{
       font-size: 60px;
    }
    & h4{
        font-size: 18px;
        margin-bottom: 20px;
        color: rgba(136, 124, 228, 0.671);
    }
}