---
import './CartaPresentacion.css';
import fotoPerfil from '/src/assets/imgs/Foto_perfil.jpg';
---
<section class="container-carta" id="carta-presentacion">
    <div class="foto-presentacion">
            <img src={fotoPerfil.src} alt="My Photo" />
            <div class="ubicacion"><i class="bi bi-geo-alt-fill"></i> Barcelona, Spain</div>
            <div class="icons-div">
                <a href="https://gitlab.com/dlopez16"><i class="bi bi-gitlab"></i></a>
                <a href="https://www.instagram.com/didaclora/"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
    </div>

    <div class="descripcion">
        <h1>Didac López</h1>
        <h4>Desarrollador de Software | Angular, AstroJs, Node.js</h4>
        <p>Soy Didac López, un desarrollador de software apasionado por crear soluciones innovadoras y eficientes. Con experiencia en diversas tecnologías y un enfoque orientado a resultados, me esfuerzo por entregar productos de alta calidad que satisfagan las necesidades de los usuarios. Siempre estoy buscando aprender y crecer en mi carrera, enfrentando nuevos desafíos con entusiasmo y dedicación.</p>
    </div>
</section>