---
import './CartaPresentacion.css';
---
<section class="container-carta">
    <div class="foto-presentacion">
            <img src="https://picsum.photos/id/237/200/300" alt="My Photo" />
            <div class="ubicacion"><i class="bi bi-geo-alt-fill"></i> Barcelona, Spain</div>
            <div class="icons-div">
                <i class="bi bi-github"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter"></i>
            </div>
    </div>

    <div class="descripcion">
        <h1>Didac López</h1>
        <h4>Desarrollador de Software | Angular, AstroJs, Node.js</h4>
        <p>Soy Didac López, un desarrollador de software apasionado por crear soluciones innovadoras y eficientes. Con experiencia en diversas tecnologías y un enfoque orientado a resultados, me esfuerzo por entregar productos de alta calidad que satisfagan las necesidades de los usuarios. Siempre estoy buscando aprender y crecer en mi carrera, enfrentando nuevos desafíos con entusiasmo y dedicación.</p>
    </div>
</section>