* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgb(34, 33, 33);
    --secondary-color: #030303;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
}
body {
   background-color: var(--background-color);
   color: white;
   font-family: var(--font-family);
   font-size: var(--font-size);
   line-height: var(--line-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.container-experience_skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    min-height: 500px;
} 

.container-educacion{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    min-height: 500px;
}

/* .container-carta{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    min-height: 500px;
} */