---
import './Educacion.css';
---
<section class="educacion-container">
    <div class="container-titulo">
        <i class="fa-solid fa-school"></i>
        <h2>Educación</h2>
    </div>
    <ul>
        <li>
            <div class="container-info">
                <h3>Grado Superior DAW - INS Nicolau Copernic</h3>
                <p>Fecha: Septiembre 2024 - Actualmente</p>
                <p>Formación en tecnologías web, bases de datos y programación.</p>
            </div>
            <div class="container-descripcion">
                <p>Estoy adquiriendo habilidades en desarrollo front-end y back-end con php, así como en el diseño y gestión de bases de datos.
                Además, estoy participando en proyectos prácticos que me permiten aplicar mis conocimientos en situaciones reales.
                </p>
                <a href="https://nicolaucopernic.cat/">Informacion del centro <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </li>
        <li>
            <div class="container-info">
                <h3>Grado Medio Informatica y Redes - Salesians Terrassa</h3>
                <p>Fecha: Septiembre 2018 - Junio 2021</p>
                <p>Técnico en sistemas microinformáticos y redes.</p>
            </div>
            <div class="container-descripcion">
                <p>Estudié sobre redes y servidores Informaticos, obteniendo una sólida comprensión de los conceptos y prácticas en este campo.</p>
                <p>Además, realicé proyectos prácticos que me permitieron aplicar mis conocimientos en situaciones del mundo real.</p>
                <a href="https://terrassa.salesians.cat/">Informacion del centro <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </li>
    </ul>
</section>