
.educacion-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2em;
    width: 100%;
    ul{
        margin: 0;
        padding-left: 1.4em;
        position: relative;
        list-style: none;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 1em;
            width: 2px;
            background-color: rgb(136, 124, 228);
        }
        
        h3{
            font-size: 1.3em;
            flex-wrap: wrap;
        }
        li{
            margin-bottom: 1em;
            position: relative;
            padding-left: 1.5em;

            width: 100%;
            gap: 20px;
            display: flex;
            &::before {
                content: '';
                position: absolute;
                left: -30px;
                top: 0.6em;
                width: 14px;
                height: 14px;
                background-color: rgb(136, 124, 228);
                border-radius: 50%;
                z-index: 10;
            }
            
            h3{
                color: rgb(136, 124, 228);
            }
        }
    }
}

.container-info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.container-descripcion{
    max-width: 50%;
    & a{
        color: rgb(105, 99, 156);
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
    }
    p{
        margin-top: 5px;
        font-style: italic;
        font-family:Inter, sans-serif;;
        font-size: 16px;
    }
}